extends layout

block content
  div.msgwrapper
    div.msgtop
      h1.greeting #{currentUser === undefined ? '' : "Welcome " + currentUser.name}
      if currentUser
        form(method="GET" action='/message/new')
          button(type="submit") Create A New Message 
    div.messages
      if allMessages
        ul 
          each message in allMessages 
            li.message-list 
              div.message-heading 
                h2.msg-heading #{message.heading}
                if currentUser
                  if currentUser.isMember 
                    div.members-only 
                      p=message.date
                      p=message.Author.name
              p.msg-text=message.text
              


